
.grid-section {
    position: relative;
    width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.grid-container {
    width: 100%;
}

#grid {
    width: 100%;
}

.grid-block {
    cursor: pointer;
    float: left;
    border: solid rgb(13, 45, 59);
    border-width: 1px 1px 1px 1px;
    padding: 12px;
    display: inline-block;
}