<div class="header">
    <div class="container">
        <div class="horiz-list">
            <div class="draggable">
                <div class="start-node"></div>
                Start Node
            </div>
            <div class="draggable">
                <div class="square end-node">
                    <div></div>
                </div>
                Target Node
            </div>
            <div class="draggable">
                <div class="square bomb-node">
                    <p>!</p>
                </div>
                Bomb Node
            </div>
            <div class="draggable">
                <div class="square weight-node">
                    <div></div>
                </div>
                Weight Node
            </div>
            <div style="opacity: 0.5;">|</div>
            <div>
                <div class="square unvisited"></div>
                Unvisited Nodes
            </div>
            <div>
                <div class="square visited1"></div>
                <div class="square visited2"></div>
                Visited Nodes
            </div>
            <div>
                <div class="square shortest-path"></div>
                Shortest-path Nodes
            </div>
            <div>
                <div class="square wall"></div>
                Wall Nodes
            </div>
        </div>
    </div>
</div>
