<div class="header">
    <div class="container">
        <div class="horiz-list">
            <div class="draggable" (click)="changeOption('start-node')">
                <div class="start-node"></div>
                Start Node
            </div>
            <div class="draggable" (click)="changeOption('end-node square')">
                <div class="end-node square">
                    <div></div>
                </div>
                Target Node
            </div>
            <div class="draggable" (click)="changeOption('bomb-node square')">
                <div class="bomb-node square">
                    <div>!</div>
                </div>
                Bomb Node
            </div>
            <div class="draggable" (click)="changeOption('weight-node square')">
                <div class="weight-node square">
                    <div></div>
                </div>
                Weight Node
            </div>
            <div class="vertical-line">|</div>
            <div class="unselectables">
                <div class="square unvisited"></div>
                Unvisited Nodes
            </div>
            <div class="unselectables">
                <div class="square visited1"></div>
                <div class="square visited2"></div>
                Visited Nodes
            </div>
            <div class="unselectables">
                <div class="square shortest-path"></div>
                Shortest-path Nodes
            </div>
            <div class="unselectables">
                <div class="square wall"></div>
                Wall Nodes
            </div>
        </div>
    </div>
</div>
